<div class="map box-shadow box-white">
  <div id="map-canvas"></div>
  <script>
    {% if website_data.map_center_lat and website_data.map_center_lng %}
        var zoom = {{website_data.map_zoom_level}};
        var lat = {{website_data.map_center_lat}};
        var lng = {{website_data.map_center_lng}};
        function initialize() {
          var myOptions = {
              zoom: zoom,
              center: new google.maps.LatLng(lat, lng),
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              scrollwheel: false
          }
          map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

          var marker = new google.maps.Marker({
              map: map,
              position: new google.maps.LatLng(lat, lng)
          });
        }
        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
              '&callback=initialize&key={{website_data.gmap_key}}';
          document.body.appendChild(script);
        }
    {% endif %}
  </script>
</div>

<div class="box-white box-shadow contacts">
  <div class="row">
    <div class="col-md-6 left-block">
      <h2>{{ 'Get In Touch' | t: website_data.lang }}</h2>
     <form id="contact-form" method="POST" action="{{ "/send_mail" | link_to: website_data.link_object }}">
       <input type="hidden" name="part_a" value="{{website_data.rand_a}}" />
       <input type="hidden" name="part_b" value="{{website_data.rand_b}}" />
       <div class="half-input first">
         <input class="half" name="name" placeholder="{{ 'Name' | t: website_data.lang }}" type="text"></input>
       </div>
       <div class="half-input">
         <input class="half" name="email" placeholder="{{ 'Email' | t: website_data.lang }}" type="email"></input>
       </div>
       <textarea name="message" placeholder="{{ 'Message' | t: website_data.lang }}"></textarea>
       <div class="control text-right">
          <div class="g-recaptcha" data-sitekey="6LfJKIoUAAAAAESIKCuCb-QBRSsO5q2jhXTEZ73I"></div>
          <button class="btn btn-primary">{{ 'Submit' | t: website_data.lang }}</button>
       </div>
     </form>
    </div>
    <div class="col-md-6 right-block">
      <h2>
        {{website_data.contact_area_title}}
      </h2>
      <p>
        {{website_data.contact_description_text}}
      </p>
      <dl class="dl-horizontal">
        <dt>{{ 'Phone' | t: website_data.lang }}: </dt>
        <dd>
          <a class="href-action" href="tel:{{website_data.phone_number}}"> {{website_data.phone_number}} </a>
        </dd>
        <dt>{{ 'Email' | t: website_data.lang }}:</dt>
        <dd>
            <a class="href-action" href="mailto:{{website_data.email_address}}"> {{website_data.email_address}} </a>
        </dd>
        <dt>{{ 'Booking' | t: website_data.lang }}: </dt>
        <dd>
          {% if website_data.booking_link == nil or website_data.booking_link == '' %}
            <a href="#" class="btn btn-success btn-sm booking-form-link"> {{website_data.booking_button_text}} </a>
          {% else %}
            <a href="{{website_data.booking_link}}" class="btn btn-success btn-sm"> {{website_data.booking_button_text}} </a>
          {% endif %}
        </dd>
        <dt>{{ 'Trip Advisor' | t: website_data.lang }}:</dt>
        <dd>
          <a class="btn btn-success btn-sm" href="{{website_data.tripadvisor_listing_link}}">{{ 'View Our Profile' | t: website_data.lang }}</a>
        </dd>
        <dt>{{ 'Address' | t: website_data.lang }}:</dt>
        <dd>
          {{website_data.address}}
        </dd>
      </dl>
    </div>
  </div>
</div>
